@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"),
    url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2"),
    url("../fonts/Lato-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
    url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Medium.woff2") format("woff2"),
    url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Custom props */
:root {
  --text-color: #607987;
  --brown: #ba8d5b;
  --heading-color: #0f1826;
  --green: #0eb182;
  --black: #000;
  --main-bg: #fff;
  --header-bg: #f1f0ee;
  --hero-bg: #f1f0ee;
  --course-bg: #f9f8f7;
  --graduate-card-bg: #f9f8f7;
  --form-bg: #f9f8f7;
  --form-content-bg: #fff;
  --footer-bg: #f9f8f7;
  --btn-icon-wrapepr: rgba(186, 141, 91, 0.1);
  --dark-btn-bg: #f5f5f5;
  ----dark-mode-btn-text: #555555;
}

.dark-mode {
  --text-color: #fff;
  --brown: #ba8d5b;
  --heading-color: #fff;
  --green: #0eb182;
  --black: #fff;
  --main-bg: #021923;
  --header-bg: #0f1826;
  --hero-bg: #09111b;
  --course-bg: #09111b;
  --graduate-card-bg: #c9c9c9;
  --form-bg: #3b4c54;
  --form-content-bg: #021923;
  --footer-bg: #0f1826;
  --btn-icon-wrapepr: #0eb182;
  --dark-btn-bg: #272727;
  ----dark-mode-btn-text: #ffffff;
}

.dark-mode-icon-none {
  display: none;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  transition: 0.4s color ease, 0.4s background-color ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-bg);
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", "Arial", sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1222px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* ================= 
  website  scroll start 
=================*/
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--brown);
  border-radius: 15px;
}
body::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 15px;
}

/* ================= 
  website  scroll end 
=================*/

/* HEADER */
.header {
  padding: 17px 0 19px;
  background-color: var(--header-bg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo {
  display: flex;
  width: 214px;
}

.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 38px;
  list-style: none;
}

.nav__link {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--black);
  text-decoration: none;
  transition: 0.3s ease;
}

.nav__link:hover {
  text-decoration: underline;
}
.header__button {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 11px 50px 11px 49px;
  text-decoration: none;
  background-color: white;
  border-radius: 100px;
  color: #021923;
  border: 1px solid transparent;
  transition: 0.3s ease;
}
.header__button:hover {
  border: 1px solid #bd8f5b;
}
.header__dark-mode {
  width: 40px;
  height: 40px;
  background-color: var(--dark-btn-bg);
  border-radius: 100px;
}

.header__dark-mode-btn {
  color: var(--dark-mode-btn-text);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-btn-bg);
  cursor: pointer;
  transition: 0.3s ease;
}
.dark-mode__light {
  display: none;
  color: var(--dark-mode-btn-text);
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border: none;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-btn-bg);
  cursor: pointer;
  transition: 0.3s ease;
}
.header__dark-mode-btn:hover {
  color: var(--black);
}
.header__dark-mode-btn:active {
  background-color: #bd8f5b;
  color: var(--main-bg);
}
.dark-mode__light:hover {
  color: var(--black);
}
.dark-mode__light:active {
  background-color: #bd8f5b;
  color: var(--main-bg);
}
.header__burger {
  max-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.header__burger__img {
  max-width: 32px;
  color: var(--black);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.mobile-menu__overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
.mobile-menu__tablet {
  max-width: 100%;
  width: 290px;
  height: auto;
  background-color: var(--main-bg);
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 24px 24px;
  overflow: hidden;
  z-index: 9998;
}
.mobile-menu__tablet__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.mobile-menu__close {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: var(--black);
}

.mobile-menu__close svg {
  width: 24px;
  height: 24px;
}
.mobile-menu__tablet__main {
  padding-top: 16px;
  border-top: 1px solid #dadada;
}
.mobile-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-menu__item {
  padding: 12px 0;
  transition: 0.3s ease;
  margin-right: 36px;
}
.mobile-menu__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--black);
}
.mobile-menu__tablet__logo {
  display: flex;
  width: 150px;
}
.mobile-menu__item {
}
.mobile-menu__item__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu__item__toggle__list {
}
.mobile-menu__item__toggle__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--black);
}
.mobile-menu__item__toggle-down {
}
.mobile-menu__item__toggle-item {
}
.mobile-menu__item__toggle__link {
}
@media (max-width: 860px) {
  body.show {
    overflow: hidden;
  }
  .header {
    padding: 14px 0 8px;
  }
  .header__container {
    gap: 16px;
  }
  .header__logo {
    width: 185px;
  }
  .header__button {
    padding: 7px 22px 7px 22px;
  }
  .header__button:hover {
    text-decoration: underline;
    border: 1px solid transparent;
  }
  .nav__list {
    display: none;
  }
  .header__dark-mode {
    width: 32px;
    height: 32px;
  }
  .header__burger {
    display: flex;
  }
  .header__dark-mode {
    display: none;
  }
  .mobile-menu {
  }
  .mobile-menu.show {
    display: block;
  }
}
/* /HEADER */

/* HERO */
.hero {
  background-color: var(--header-bg);
  background-image: url("../img/hero-img.png"), url("../img/bg-hero.svg");
  background-position: left calc(50% - 33px) bottom calc(52px),
    left calc(50% + 238px) bottom calc(53px);
  background-size: contain, 650px 450px;
  background-repeat: no-repeat;
  padding-top: 116px;
  padding-bottom: 60px;
}

.hero__inner {
  max-width: 325px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.8px;
  color: var(--black);
}

.hero__title--orange {
  color: var(--brown);
}

.hero__text {
  margin-bottom: 74px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.36px;
  color: var(--text-color);
}

.hero__btn {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--brown);
  border-radius: 100px;
  transition: 0.3s ease;
  padding: 12px 45px;
  color: var(--form-content-bg);
  font-weight: 700;
}

.hero__btn:hover {
  background-color: #f5f5f5;
  border-color: var(--brown);
}

@media (max-width: 560px) {
  .hero {
    background-image: none;
    padding-top: 32px;
    padding-bottom: 28px;
  }

  .br-mobile-none {
    display: none;
  }

  .hero__title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.48px;
  }

  .hero__text {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.28px;
  }

  .hero__btn {
    padding: 8px 33px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 22px;
  }
}
/* /HERO */

/* PREFERS */
.perefers {
  padding-top: 48px;
  padding-bottom: 48px;
}

.prerefers__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.634px;
  margin-top: 0;
  margin-bottom: 48px;
}

.prefers__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 44.7px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
}

.prefers__list-item {
  display: flex;
  align-items: flex-start;
}

.prefers__list-img {
  width: 48px;
  height: 48px;
  margin-right: 40px;
}

.prefers__list-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-top: 0;
  margin-bottom: 14px;
  color: var(--heading-color);
}

.prefers__list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 14px;
}

.more-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.more-btn__text {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--green);
}

.more-btn__icon-wrapper {
  width: 24px;
  height: 24px;
  background-color: var(--btn-icon-wrapepr);
  border-radius: 50%;
}

@media (max-width: 650px) {
  .perefers {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .prerefers__title {
    margin-bottom: 32px;
    font-size: 28px;
  }

  .prefers__list {
    grid-template-columns: auto;
    gap: 32px;
  }

  .prefers__list-img {
    margin-right: 20px;
  }
}

/* PREFERS */

/* courses */
.course {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--course-bg);
}

.course__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.64px;
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--heading-color);
}

.course-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 24px;
}

.course__cards {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 18px;
}

.course__card {
  border: 1px solid var(--text-color);
  padding: 17px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.course__card:hover {
  background-color: #fff !important;
  box-shadow: 0 2px 18px 3px rgba(0, 0, 0, 0.05);
  border: 0.5px solid transparent;
  cursor: pointer;
}

.course__card:not(:last-child) {
  margin-right: 33px;
}

.course__card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.405px;
  margin-top: 0;
  margin-bottom: 13px;
  color: var(--heading-color);
}

.course__card-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--text-color);
  margin: 0;
}

.course__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--green);
  text-decoration: none;
}

@media (max-width: 650px) {
  .course {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .course__cards {
    flex-wrap: wrap;
  }

  .course__card {
    width: 100%;
  }

  .course__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .course__title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .course__text {
    font-size: 14px;
  }
}
/* /COURSES */

/* Graduate */
.graduate {
  padding-top: 48px;
  padding-bottom: 48px;
}

.graduate__container {
  padding-left: 32px;
  padding-right: 32px;
}

.graduate__title {
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  color: var(--heading-color);
  margin: 0;
  margin-bottom: 24px;
}

.graduate__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 48px;
}

.graduate__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 31px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.graduate__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  background-color: var(--graduate-card-bg);
  border-radius: 8px;
  transition: all 0.5s ease;
}

.graduate__list-img {
  width: 136px;
  height: 68px;
  filter: grayscale(1);
  transition: filter 0.5s ease;
}

.graduate__list-item:hover {
  background-color: #fff;
  box-shadow: 0 2px 18px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.graduate__list-item:hover .graduate__list-img {
  filter: grayscale(0);
}

@media (max-width: 1024px) {
  .graduate__list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 890px) {
  .graduate__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 790px) {
  .graduate__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .perefers {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .prerefers__title {
    margin-bottom: 32px;
    font-size: 28px;
  }

  .prefers__list {
    grid-template-columns: auto;
    gap: 32px;
  }

  .prefers__list-img {
    margin-right: 20px;
  }

  .course {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .course__cards {
    flex-wrap: wrap;
  }

  .course__card {
    width: 100%;
  }

  .course__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .course__title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .course__text {
    font-size: 14px;
  }

  .graduate {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .graduate__title {
    margin-bottom: 32px;
    font-size: 28px;
    margin-bottom: 16px;
  }
}
@media (max-width: 570px) {
  .graduate__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* /GRADUATE */

/* FOOTER */
.footer {
  background-color: var(--footer-bg);
  padding-top: 26px;
  padding: 50px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__left {
  display: flex;
  flex-direction: column;
  max-width: 253px;
  width: 100%;
  margin-right: 33px;
}

.footer__logo-link {
  margin-bottom: 21px;
  display: flex;
}

.footer__logo-img {
  width: 214px;
  height: 46px;
}

.footer__text {
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
}

.footer__text--top {
  margin-bottom: 58px;
}

.footer__right {
  width: 100%;
}

.footer__lists {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #81755c4d;
  padding-bottom: 52px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 34px;
}

.footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  letter-spacing: -0.28px;
  color: var(--text-color);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__contact {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
}

.footer__contact-address {
  max-width: 216px;
  width: 100%;
  margin-right: 20px;
}

.footer__contact-network {
  margin-right: 20px;
}

.footer__icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__icon:not(:last-child) {
  margin-right: 12px;
}

.footer__icon-link {
  color: var(--brown);
  transition: color 0.4s ease;
}

.footer__icon-link:hover {
  color: #0b84ee;
}

.footer__contact-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.footer__contact-text-light {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  color: var(--text-color);
  margin: 0;
}

.footer__contact-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--text-color);
}
/* /FOOTER */
